@model IEnumerable<HealthTech.Web.Models.Admin.AppointmentAdminModel>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Patient Issue
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {    
    var approveBtnText = item.Approved ? "Disapprove" : "Approve";
    var approveBtnClass = item.Approved ? "btn-danger" : "btn-primary";
    var rowClass = item.Approved ? "table-success" : "table-danger";
                
        <tr class="@rowClass">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                
                <div class="btn-group">
                        <button name="ApproveAppointmentBtn" type="button" class="btn @approveBtnClass" data-id="@item.Id">@approveBtnText</button>
                        <button type="button" class="btn @approveBtnClass dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
